{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('app_login') }}"><img src="{{ asset('dist/img/MagosArtesanos.png') }}" alt="Logo Artesanos"
                                                   height="100" width="300"></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Entre para comenzar su sesi&oacute;n</p>

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Usted esta logueado con el correo {{ app.user.email }}, <a
                                    href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}


                    <div class="input-group mb-3">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control" required autofocus placeholder="Entre el Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               autocomplete="current-password" required placeholder="Entre su contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="row" style="display: initial">

                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>

                    </div>

                </form>

                <p class="mb-1 text-center">
                    <a href="#">Se le olvido el password</a>
                </p>
                {# <p class="mb-0 text-center">
                    <a href="{{ path('app_user_new') }}">Registrarse</a>
                </p> #}
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    </body>

{% endblock %}