{{ form_start(form, {'attr': {'id':'form_newasignacion'}}) }}
<form role="form" action="{{ path('app_asignar_productoa_user_new') }}">
    <div class="row">
        <div class="col-sm-4">
            <!-- select -->
            <div class="form-group">
                <label>Usuarios: </label>
                <select class="form-control select2 select2-hidden-accessible"
                        data-select2-id="1" tabindex="-1"
                        aria-hidden="true" name="usuario_search"
                        data-placeholder="Seleccione el Usuario"
                        title="Usuarios">
                    <option></option>
                    {{ form_widget(form.usuario) }}
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Select multiple-->
            <div class="form-group" style="float: right">
                <label>Seleccione Productos:</label>
                {{ form_widget(form.producto) }}
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="float: left;"> Guardar</button>
        <a class="btn btn-danger" style="float: right" href="{{ path('app_asignar_producto') }}"> Cancelar</a>
    </div>
    {{ form_row(form._token) }}
</form>
{{ form_end(form) }}
