{% extends 'base.html.twig' %}

<<<<<<< Updated upstream
{% block title %}Ventas{% endblock %}

{% block pagescript %}
    <script>
        $(function () {
            //Date range picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });
            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

        })
    </script>
{% endblock %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12" style="height: 100%">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mis Ventas</h3>
                    </div>

                    <div class="row card-header" style="padding-left: 30px;padding-right: 30px">
                        <div class="input-group">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-block btn-outline-primary">Ventas Diarias
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-block btn-outline-primary"
                                        >Ventas Semanales
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-block btn-outline-primary"
                                        >Ventas Mensuales
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-block btn-outline-primary"
                                        style="font-size: 14px;" data-toggle="modal" data-target="#modal-primary">
                                    Filtrar
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>I.D.</th>
                                <th>Nombre</th>
                                <th>Total de Ventas</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>183</td>
                                <td>11-7-2014</td>
                                <td>John Doe</td>
                                <td><span class="tag tag-success">Approved</span></td>
                            </tr>
                            <tr>
                                <td>219</td>
                                <td>Alexander Pierce</td>
                                <td>11-7-2014</td>
                                <td><span class="tag tag-warning">Pending</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-primary" style="display: none; padding-right: 17px;" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content bg-primary">
                <div class="modal-header">
                    <h4 class="modal-title">Filtrar Datos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                               <span class="input-group-text">
                                                 <i class="far fa-calendar-alt"></i>
                                               </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation"
                                       placeholder="Rango de Fechas">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="margin-left: 7px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">ASC</button>
                                <button type="button"
                                        class="btn btn-default dropdown-toggle dropdown-hover dropdown-icon"
                                        data-toggle="dropdown">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item" href="#">DESC</a>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">10</button>
                                <button type="button"
                                        class="btn btn-default dropdown-toggle dropdown-hover dropdown-icon"
                                        data-toggle="dropdown">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item" href="#">15</a>
                                        <a class="dropdown-item" href="#">25</a>
                                        <a class="dropdown-item" href="#">50</a>
                                        <a class="dropdown-item" href="#">100</a>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light">Aceptar</button>
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
=======
{% block title %}Mis Ventas{% endblock %}

{% block page %}
    <div class="content-wrapper" style="min-height: 256px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Ventas Diarias</span>
                                    <span class="info-box-number">{{ ventasdiarias }}</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Ventas Semanales</span>
                                    <span class="info-box-number">{{ ventassemanales }}</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Ventas Mensuales</span>
                                    <span class="info-box-number">{{ ventasmensual }}</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form role="form" method="post">
                            <div class="row">
                                <div class="col-sm-3">
                                    <!-- Date -->
                                    <div class="form-group">
                                        <label>Fecha Inicial:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                            class="far fa-calendar-alt"></i></span>
                                            </div>
                                            <input id="reservationdateinicial" type="text" class="form-control"
                                                   data-inputmask-alias="datetime"
                                                   data-inputmask-inputformat="dd/mm/yyyy" data-mask=""
                                                   im-insert="false">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                                <div class="col-sm-3">
                                    <!-- Date -->
                                    <div class="form-group">
                                        <label>Fecha Final:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                            class="far fa-calendar-alt"></i></span>
                                            </div>
                                            <input id="reservationdatefinal" type="text" class="form-control"
                                                   data-inputmask-alias="datetime"
                                                   data-inputmask-inputformat="dd/mm/yyyy" data-mask=""
                                                   im-insert="false">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                                <div class="col-sm-2">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Orden:</label>
                                        <select id="ordenar" class="form-control">
                                            <option name="ASC" value="ASC">ASC</option>
                                            <option name="DESC" value="DESC">DESC</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Paginado:</label>
                                        <select id="paginado" class="form-control">
                                            <option name="10" value="10">10</option>
                                            <option name="20" value="20">20</option>
                                            <option name="25" value="25">25</option>
                                            <option name="50" value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2" style="margin-top: 30px">
                                    <button type="button" onclick="cargardatos();" class="btn btn-primary">Filtrar
                                    </button>
                                </div>
                            </div>
                            <input name="csrfmiddlewaretoken" value="token" type="hidden">
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Codigo de Venta</th>
                                            <th>Imagen del Producto</th>
                                            <th>Producto</th>
                                            <th>Royaltie Acumulado</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ventaip in infoproductos %}
                                            <tr>
                                                <td>{{ ventaip.fecha ? ventaip.fecha|date('Y-m-d') : '' }}</td>
                                                <td>{{ ventaip.codigo }}</td>
                                                <td><img width="50" height="50"
                                                         src="{{ asset('uploads/' ~ ventaip.imagen) }}"
                                                         alt="Foto Producto"></td>
                                                <td>{{ ventaip.nombre }}</td>
                                                <td>{{ ventaip.beneficio }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">No se encontraron registros</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block pagescript %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js',{callback: 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('dist/js/ajaxcall.js') }}"></script>
>>>>>>> Stashed changes
{% endblock %}