{% extends 'base.html.twig' %}

{% block title %}Pago Royal Acumulado{% endblock %}

{% block page %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 col-12">
                        <h4>Royalties Acumulados</h4>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 col-12 float-right">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total de Royalties Acumulados</span>
                                <span class="info-box-number">{{ totalacumulado }}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>Listado de Pagos Royal Acumulados</h3>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12 float-left">
                            <a href="{{ path('app_solicitar_pago_royal_acumulado_new') }}">
                                <button type="button" class="btn btn-block bg-gradient-success"><i
                                            class="fa fa-user-plus"></i> Crear Nuevo Pago Royal
                                </button>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 float-right">
                            <a href="{{ path('app_registro_pagos') }}">
                                <button type="button" class="btn btn-block bg-gradient-success"><i
                                            class="fa fa-tasks"></i> Registro de Pagos
                                </button>
                            </a>
                        </div>
                    </div>

                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th>Fecha</th>
                            <th>Royalties a Pagar</th>
                            <th>M&eacute;todo de Pago</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for solicitar_pago_royal_acumulado in solicitar_pago_royal_acumulados %}
                            <tr>
                                <td>{{ solicitar_pago_royal_acumulado.fecha ? solicitar_pago_royal_acumulado.fecha|date('Y-m-d') : '' }}</td>
                                <td>{{ solicitar_pago_royal_acumulado.royaltiespagar }}</td>
                                <td>{{ solicitar_pago_royal_acumulado.metododepago }}</td>
                                <td>{{ solicitar_pago_royal_acumulado.estado }}</td>
                                <td width="180">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="{{ path('app_solicitar_pago_royal_acumulado_show', {'id': solicitar_pago_royal_acumulado.id}) }}">
                                                <button class="btn btn-block btn-info" data-toggle="tooltip"
                                                        title="ver"><i
                                                            class="fas fa-info"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-4">

                                            <a href="{{ path('app_solicitar_pago_royal_acumulado_edit', {'id': solicitar_pago_royal_acumulado.id}) }}">
                                                <button class="btn btn-block btn-success" data-toggle="tooltip"
                                                        title="Editar"><i
                                                            class="fas fa-edit"></i>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-4">
                                            <form method="post"
                                                  action="{{ path('app_solicitar_pago_royal_acumulado_delete', {'id': solicitar_pago_royal_acumulado.id}) }}"
                                                  onsubmit="return confirm('Está segur@ que desea eliminar este pago?');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ solicitar_pago_royal_acumulado.id) }}">
                                                <button class="btn btn-block btn-danger" data-toggle="tooltip"
                                                        title="Eliminar"><i
                                                            class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
